/* Open Sauce Sans */
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/fonts/OpenSauceSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/fonts/OpenSauceSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/fonts/OpenSauceSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Open Sauce One */
@font-face {
  font-family: 'Open Sauce One';
  src: url('/fonts/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sauce One';
  src: url('/fonts/OpenSauceOne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Open Sauce Two */
@font-face {
  font-family: 'Open Sauce Two';
  src: url('/fonts/OpenSauceTwo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
